*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Projekt/AUHA30Parent/app/build/
Projekt/AUHA30Parent/gradle/
Projekt/AUHA30Staff/.idea/libraries/animated_vector_drawable_23_3_0.xml
Projekt/AUHA30Staff/.idea/
Projekt/AUHA30Staff/app/build/
Projekt/AUHA30Parent/.idea/
Projekt/AUHA30Parent/build/
Projekt/AUHA30Staff/local.properties
Projekt/AUHA30Parent/local.properties
Projekt/AUHA30Staff/build/
*.tmp
